* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #ffffff;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*** NAVBAR ***/

.left-menu {
  width: 20%;
  background-color: #e5e5e5;
  text-align: left;
  position: fixed;
}

.top-menu {
  background-color: #e5e5e5;
  width: 100%;
}

.top-menu-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2%;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 1.5em;
  width: 2em;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 2%;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button_line {
  width: 100%;
  height: 10%;
  background: black;
}

.side-drawer {
  height: 100%;
  background-color: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-110%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer > ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer li {
  padding-bottom: 2%;
  margin: 2% 0;
  text-align: left;
  padding-left: 5%;
}

.side-drawer a {
  color: #000;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 400;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #cecece;
  font-weight: 700;
}

.nav-heading {
  padding: 5% 2.5%;
  font-size: 3em;
  font-weight: 500;
  padding-bottom: 5%;
  text-align: center;
  line-height: 0.8;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .nav-heading {
    font-size: 1.5em;
    padding: 2% 2%;
    margin-left: 1rem;
  }
}

.nav-heading a {
  text-decoration: none;
  color: #000;
}

.vr-nav {
  height: 100%;
  width: inherit;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  background-color: #e5e5e5;
  overflow: hidden;
}

.vr-nav li {
  text-align: left;
  padding-bottom: 2%;
}

.vr-nav li a,
.side-drawer li a {
  display: block;
  color: #000;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 400;
}

.vr-nav li a:hover,
.nav-heading a:hover,
.side-drawer li a:hover {
  color: #cecece;
}

.vr-nav .active {
  font-weight: 700;
}

.nav-sub-list {
  list-style-type: none;
  padding-left: 10%;
  padding-bottom: 0;
}
.nav-sub-list li {
  padding: 0;
}
.nav-sub-list li a {
  font-size: 1.1em;
  font-weight: 300;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  top: 0;
  left: 0;
}

/* The page itself (right of nav) */
.vr-side {
  margin-left: 20%;
  padding: 2%;
}

/* Portfolio Page */
.pageHeading {
  font-weight: 300;
  font-size: 3.5em;
  text-align: left;
  padding-bottom: 5%;
}
@media only screen and (max-width: 900px) {
  .vr-side {
    margin-left: 0;
    padding: auto;
  }
  .pageHeading {
    font-weight: 300;
    font-size: 3em;
    text-align: center;
    padding: 5% 5%;
  }
}

.portfolioItem {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: #c4c4c4;
  padding: 5% 2%;
  margin-bottom: 5%;
  justify-content: space-around;
  border-radius: 25px;
}

.portfolioPhoto {
  display: flex;
  margin: auto;
  margin-left: 0;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 30%;
}
.portfolioPhoto img {
  width: 100%;
}

.portfolioInfoBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#portfolioItemName {
  font-weight: 200;
  font-size: 3em;
  text-align: left;
  margin-bottom: 5%;
  padding: 0 2.5%;
}

.portfolioItemDescription {
  display: flex;
  padding: 0 2.5%;
}

.portfolioItemDescription p {
  font-weight: 300;
  font-size: 24px;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .portfolioItem {
    flex-direction: column;
  }
  .portfolioPhoto {
    display: flex;
    margin: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 80%;
  }
}

/* Artist Statement Page */

.pageSplitDiv {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page40WidthDiv {
  width: 40%;
}
.page45WidthDiv {
  width: 45%;
}

.artistStatementImgDiv {
  display: flex;
  padding: 0 5%;
}
.artistStatementImgDiv img {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .pageSplitDiv {
    flex-direction: column;
  }
  .page40WidthDiv {
    width: 90%;
  }
  .page45WidthDiv {
    width: 90%;
  }
  .artistStatementImgDiv {
    display: flex;
    padding: 5%;
    justify-content: center;
  }
  .artistStatementImgDiv img {
    width: 80%;
  }
}

.artistStatementTextDiv {
  font-weight: 400;
  font-size: 1.2em;
  padding: 0 5%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artistStatementTextDiv a {
  color: black;
  text-decoration: none;
}

/* Print Shop Page */

#printPageHeading {
  font-size: 3.5em;
  font-weight: 300;
  margin-bottom: 5%;
}

.printPageDescription {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 5%;
}

.printShopImgDiv {
  display: flex;
  padding: 0 5%;
}

.printShopImgDiv img {
  width: 100%;
}

.printShopQuantityDiv {
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 5%;
}
.printShopQuantityDiv .quantitySpan {
  font-weight: inherit;
  font-size: inherit;
}

.printShopQuantityDiv .buttonSpan {
  font-weight: inherit;
  font-size: inherit;
}

.printShopQuantityDiv .buttonSpan button {
  font-weight: inherit;
  font-size: inherit;
  min-width: 1em;
  margin: 0 5%;
}

.printShopSizesDiv {
  font-size: 2em;
  font-weight: 300;
  display: flex;
  margin-bottom: 5%;
  margin: auto;
}

.printShopSizesDiv .sizeSpan {
  font-weight: inherit;
  font-size: inherit;
}

.printShopSizesDiv .buttonSpan {
  font-weight: inherit;
  font-size: inherit;
  display: flex;
  margin: auto;
}

.printShopSizesDiv .buttonSpan button {
  font-weight: inherit;
  font-size: 0.5em;
  margin: 0 1%;
}
